@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    @apply w-2 bg-light-tertiary-container dark:bg-dark-tertiary-container;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-light-tertiary rounded-full dark:bg-dark-tertiary;
  }
}

@layer components {
  /* Progress */
  .progress {
    @apply w-full h-2;
  }

  .progress::-webkit-progress-bar {
    @apply bg-light-surface dark:bg-dark-surface rounded-full;
  }

  .progress::-webkit-progress-value {
    @apply bg-light-primary dark:bg-dark-primary rounded-full;
  }

  /* Buttons */
  .btn {
    @apply flex flex-row items-center gap-2 py-2 px-6 font-medium rounded-full transition-all;
  }

  .btn-filled {
    @apply text-light-on-primary bg-light-primary
      dark:text-dark-on-primary dark:bg-dark-primary
      hover:bg-light-primary-0.08 hover:dark:bg-dark-primary-0.08 hover:transition-none hover:shadow
      focus:bg-light-primary-0.08 focus:dark:bg-dark-primary-0.08 focus:transition-none
      active:bg-light-primary-0.12 active:dark:bg-dark-primary-0.12 active:shadow-none active:transition-none;
  }

  .btn-outlined {
    @apply text-light-primary bg-light-surface border-light-outline
      dark:text-dark-primary border-2 dark:bg-dark-surface dark:border-dark-outline
      hover:bg-light-primary-0.08-tlc hover:dark:bg-dark-primary-0.08-tlc hover:transition-none
      focus:bg-light-primary-0.12-tlc focus:dark:bg-dark-primary-0.12-tlc focus:transition-none
      focus:border-light-primary focus:dark:border-dark-primary
      active:bg-light-primary-0.12-tlc active:dark:bg-dark-primary-0.12-tlc active:transition-none
      active:border-light-outline active:dark:border-dark-outline;
  }

  .btn-text {
    @apply text-light-primary dark:text-dark-primary
      hover:bg-light-primary-0.08-tlc hover:dark:bg-dark-primary-0.08-tlc
      focus:bg-light-primary-0.12-tlc focus:dark:bg-dark-primary-0.12-tlc
      active:bg-light-primary-0.12-tlc active:dark:bg-dark-primary-0.12-tlc;
  }
}

@layer utilities {
  .scroll-invisible::-webkit-scrollbar {
    @apply w-0;
  }
}