@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-light-on-background bg-light-background
    dark:text-dark-on-background dark:bg-dark-background;
  }

  * {
    @apply outline-none focus-visible:ring focus-visible:ring-light-tertiary
      focus-visible:dark:ring-dark-tertiary;
  }

  ::-webkit-scrollbar {
    @apply bg-light-surface1 dark:bg-dark-surface1;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-light-surface5 dark:bg-dark-surface5
      hover:bg-light-surface3 hover:dark:bg-dark-surface3
      active:bg-light-surface5 active:dark:bg-dark-surface5;
  }
}

@layer components {
  /* Progress */
  .progress {
    @apply w-full h-2;
  }

  .progress::-webkit-progress-bar {
    @apply bg-light-surface dark:bg-dark-surface rounded-full;
  }

  .progress::-webkit-progress-value {
    @apply bg-light-primary dark:bg-dark-primary rounded-full;
  }

  /* Buttons */
  .btn {
    @apply flex flex-row items-center gap-2 py-2 px-6 font-medium rounded-full ring-0
      transition-all hover:transition-shadow focus:transition-none active:transition-none;
  }

  .btn-filled {
    @apply text-light-on-primary bg-light-primary
      dark:text-dark-on-primary dark:bg-dark-primary
      hover:bg-light-primary-0.08 hover:dark:bg-dark-primary-0.08 hover:shadow
      focus:bg-light-primary-0.08 focus:dark:bg-dark-primary-0.08
      active:bg-light-primary-0.12 active:dark:bg-dark-primary-0.12 active:shadow-none;
  }

  .btn-outlined {
    @apply text-light-primary bg-light-surface border-light-outline
      dark:text-dark-primary border-2 dark:bg-dark-surface dark:border-dark-outline
      hover:bg-light-primary-0.08-tlc hover:dark:bg-dark-primary-0.08-tlc
      focus:bg-light-primary-0.12-tlc focus:dark:bg-dark-primary-0.12-tlc
      focus:border-light-primary focus:dark:border-dark-primary
      active:bg-light-primary-0.12-tlc active:dark:bg-dark-primary-0.12-tlc
      active:border-light-outline active:dark:border-dark-outline;
  }

  .btn-text {
    @apply text-light-primary dark:text-dark-primary px-2
      hover:bg-light-primary-0.08-tlc hover:dark:bg-dark-primary-0.08-tlc
      focus:bg-light-primary-0.12-tlc focus:dark:bg-dark-primary-0.12-tlc
      active:bg-light-primary-0.12-tlc active:dark:bg-dark-primary-0.12-tlc;
  }

  /* Chip */
  .chip {
    @apply py-[6px] px-3 text-base font-medium rounded;
  }

  /* Card */
  .card {
    @apply w-full rounded-lg;
  }

  .card-elevated {
    @apply container-surface shadow;
  }

  .card-tonal {
    @apply container-surface-variant;
  }

  /* List Page */
  .list-page {
    @apply flex flex-col gap-4 sm:grid sm:grid-cols-[2fr_3fr] sm:gap-0 sm:rounded-tl-lg
      bg-light-surface3;
  }

  /* Left side of List Page */
  .list-page-left {
    @apply flex flex-col gap-2;
  }

  .list-page-search {
    @apply pt-8 pl-8 pr-4;
  }

  .list-page-list-container {
    @apply h-[calc(100vh-14rem)] sm:h-[calc(100vh-12.75rem)] overflow-auto scroll-invisible;
  }

  .list-page-list {
    @apply flex flex-col gap-4 pt-2 pb-4 pl-8 pr-4;
  }

  .list-page-list-item {
    @apply card bg-light-surface1 dark:bg-dark-surface1;
  }

  .list-page-list-item button {
    @apply card text-left transition-shadow focus:ring-0;
  }

  .list-page-list-item.not-active button {
    @apply text-light-on-surface bg-light-surface1 dark:text-dark-on-surface dark:bg-dark-surface1
      hover:bg-light-primary-0.08-tlc hover:dark:bg-dark-primary-0.08-tlc
      focus:bg-light-primary-0.12-tlc focus:dark:bg-dark-primary-0.12-tlc
      focus-visible:bg-light-surface1 focus-visible:dark:bg-dark-surface1
      focus-visible:shadow;
  }

  .list-page-list-item.active button {
    @apply text-light-on-primary-container bg-light-primary-container
      dark:text-dark-on-primary-container dark:bg-dark-primary-container shadow
      hover:shadow-md focus-visible:shadow-md;
  }

  .list-page-right {
    @apply hidden sm:block sm:py-8 sm:pl-4 sm:pr-8 sm:h-[calc(100vh-7.25rem)] sm:overflow-auto;
  }
}

@layer utilities {
  .container-primary {
    @apply text-light-on-primary-container bg-light-primary-container
      dark:text-dark-on-primary-container dark:bg-dark-primary-container;
  }

  .container-secondary {
    @apply text-light-on-secondary-container bg-light-secondary-container
      dark:text-dark-on-secondary-container dark:bg-dark-secondary-container;
  }

  .container-tertiary {
    @apply text-light-on-tertiary-container bg-light-tertiary-container
      dark:text-dark-on-tertiary-container dark:bg-dark-tertiary-container;
  }

  .container-surface {
    @apply text-light-on-surface bg-light-surface
      dark:text-dark-on-surface dark:bg-dark-surface;
  }

  .container-surface-variant {
    @apply text-light-on-surface-variant bg-light-surface-variant
      dark:text-dark-on-surface-variant dark:bg-dark-surface-variant;
  }

  .container-error {
    @apply text-light-on-error-container bg-light-error-container
      dark:text-dark-on-error-container dark:bg-dark-error-container;
  }

  .max-lines-1 {
    @apply [display:-webkit-box] [-webkit-line-clamp:1] [-webkit-box-orient:vertical]
      overflow-hidden break-words text-ellipsis;
  }

  .max-lines-5 {
    @apply [display:-webkit-box] [-webkit-line-clamp:5] [-webkit-box-orient:vertical]
      overflow-hidden break-words text-ellipsis;
  }

  .scroll-invisible::-webkit-scrollbar {
    @apply w-0 h-0;
  }

  .scroll-1::-webkit-scrollbar {
    @apply w-1 h-1;
  }

  .scroll-tertiary::-webkit-scrollbar {
    @apply bg-light-tertiary-container dark:bg-dark-tertiary-container;
  }

  .scroll-tertiary::-webkit-scrollbar-thumb {
    @apply bg-light-tertiary dark:bg-dark-tertiary;
  }
}
